body {
    margin: 0;
    padding: 0;
    background: #333;
    background-attachment: fixed;
    background-size: cover;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    cursor: url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

h1 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 94%;
    font-size: 36px;
    letter-spacing: 3px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    text-align: left;
}

.blink {
    animation: blinker 1.5s linear infinite;
    color: white;
    font-family: sans-serif;
    position: absolute;
    bottom: 3%;
    left: 5%;
    font-family: Montserrat, sans-serif;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
